extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id urna cursus, pretium sapien sed, faucibus nulla. Maecenas vehicula pellentesque eros. Sed viverra euismod nisi ac consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus pretium orci sagittis sem pellentesque aliquam. Proin ac erat auctor, interdum nunc sed, semper dolor. Etiam ultrices bibendum leo, non tincidunt dui viverra laoreet. Donec et risus ultricies, pharetra metus vel, interdum tellus. Phasellus ut efficitur justo, a efficitur turpis.

                p id libero condimentum, bibendum erat ac, consectetur libero. Aliquam vitae tristique sapien, tincidunt faucibus urna. Integer et laoreet nisl. Aliquam aliquet vitae nisi sodales bibendum. Mauris vehicula consectetur auctor. Aenean volutpat mi sed magna sagittis pharetra in vehicula ex. Nullam rhoncus venenatis faucibus.

                p semper libero nec luctus convallis. Curabitur elementum, tortor at tincidunt rutrum, felis arcu mollis metus, in tempor ligula felis ac velit. Proin eget elementum turpis, et faucibus nulla. Proin lacinia justo libero, id lobortis velit eleifend sed. Donec non ullamcorper dolor, eget dapibus velit. Proin luctus gravida tellus, at semper lacus laoreet sit amet. Aenean dignissim pretium dui in dapibus. Integer tincidunt commodo urna, quis porta dui pharetra id. Proin ut mollis dui, ac tincidunt augue. Ut vulputate porta malesuada. Duis urna tortor, tincidunt sit amet condimentum eu, tincidunt ac eros. Donec condimentum eu dolor sit amet efficitur. Vivamus porttitor arcu turpis, a rutrum nulla tristique id. Phasellus ac ultricies lacus. Morbi porta aliquet sem, vel ultricies arcu iaculis at.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit vel libero id sagittis. Fusce iaculis tellus vel sagittis blandit. Fusce hendrerit id eros eu hendrerit. Curabitur tincidunt felis vel neque pharetra interdum. Cras leo dolor, faucibus vel tristique non, consectetur nec enim. Etiam pretium hendrerit lacus, non blandit tellus fermentum sagittis. Integer pretium nulla in porta rhoncus. Curabitur quis pulvinar tortor. Integer in elit condimentum, lacinia augue at, pellentesque nisi. In mollis ligula libero, sed euismod elit sagittis id. Vestibulum faucibus sed mauris eget pellentesque. Aenean nec tincidunt dui.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit vel libero id sagittis. Fusce iaculis tellus vel sagittis blandit. Fusce hendrerit id eros eu hendrerit. Curabitur tincidunt felis vel neque pharetra interdum. Cras leo dolor, faucibus vel tristique non, consectetur nec enim. Etiam pretium hendrerit lacus, non blandit tellus fermentum sagittis. Integer pretium nulla in porta rhoncus. Curabitur quis pulvinar tortor. Integer in elit condimentum, lacinia augue at, pellentesque nisi. In mollis ligula libero, sed euismod elit sagittis id. Vestibulum faucibus sed mauris eget pellentesque. Aenean nec tincidunt dui. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit vel libero id sagittis. Fusce iaculis tellus vel sagittis blandit. Fusce hendrerit id eros eu hendrerit. Curabitur tincidunt felis vel neque pharetra interdum. Cras leo dolor, faucibus vel tristique non, consectetur nec enim. Etiam pretium hendrerit lacus, non blandit tellus fermentum sagittis. Integer pretium nulla in porta rhoncus. Curabitur quis pulvinar tortor. Integer in elit condimentum, lacinia augue at, pellentesque nisi. In mollis ligula libero, sed euismod elit sagittis id. Vestibulum faucibus sed mauris eget pellentesque. Aenean nec tincidunt dui.  
